.calc-container {
    width: 280px;
    margin: 50px auto;
    border: 2px solid #000;
    padding: 20px;
    border-radius: 14px;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.input-group label {
    width: 110px;       
    flex-shrink: 0;      
    margin-right: 10px;  
}

.input-group input {
    flex: 1;         
    padding: 8px;
    box-sizing: border-box;
}


.op-button {
    padding: 15px;
    margin: 7px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}
